Repository front-end-by-rimantas/30-grupe-portfolio-docland, pull requests merged in 2021-08, with the labels that each got.

#6 body spalva
  css/home.css
Labels: CSS, CSS: animation

#37 Header components
  DOCland-top-page-logo.png
  css/base/layout.css
  css/home.css
  img/DOCland Logo.png
  index.html
  js/home.js
  notes.txt
Labels: CSS, HTML

#39 JPG Update
  img/.gitkeep
  img/crs-logo.png
  img/sr1.png
  img/sr2.png
Labels: Images
